    <form action="/login/" method="POST">
        <fieldset>
            <legend>Please log in, valued user.</legend>
            <ul>
    <li><label for="login"></label>
    <input type="text" name="username" id="username" placeholder="User Name" maxlength="40" minlength="1"></li>
    <li><label for="passwordsignup"></label>
    <input type="text" name="userpassword" id="userpassword" placeholder="User Password" maxlength="40" minlength="3"></li>
</ul>
<input type="submit" value="Submit">
</fieldset>
</form>

<form action="/newuser/" method="POST">
    <fieldset>
        <legend>New User Registration Form</legend>
        <ul>
            <li><label for="newuser"></label>
                <input type="text" name="newusername" id="newUserName" placeholder="New User Name" maxlength="40" minlength="1"></li>
                <li><label for="password"></label>
        <input type="text" name="newuserpassword" id="newuserpassword" placeholder="New User Password" maxlength="40" minlength="3"></li>
    </ul>
    <input type="submit" value="Submit">
</fieldset>
</form>
